@media only screen and (min-width: 1009px) {

  .answerListBox,fieldset{
    margin-left: auto;
    margin-right: auto;
    width:40%;
    background-color:rgb(237, 240, 245);
    padding: 9px;
  }
}
